body{
    font-family: system,apple-system,blinkmacSystemfont, "segoe ul",roboto,oxygen,ubuntu,cantarell,"open sans","helvetica neue",sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #ffffff;
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}
.header{
    font-size: 24px;
    font-weight: 600;
}
.sub-header{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.link:hover{
    background: #007bff;
    color: #ffff;
}